body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    color:white;
    font-size:20px;
    width:100vw;
}
html{
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Cutive Mono', monospace;
}
.container-one{
    width:100vw;
    height:100vh;
    background-image: url('tlo1.jpg');
    background-size: cover;
    transition: .5s;
}
#check{
    position: absolute;
    top:0;
    left:0;
    display:none;
   
}
.burger{
    width:50px;
    height: 4px;
    background:white;
    position: absolute;
    z-index:2;
    display:none;
    transition: .3s;
}
.burger::after{
    width:50px;
    height: 4px;
    background:white;
    position: absolute;
    content:'';
    transform: translateY(10px);
    transition: .3s;
}
.burger::before{
    width:50px;
    height: 4px;
    background:white;
    position: absolute;
    content:'';
    transform: translateY(-10px);
    transition: .3s;
}
#check:checked ~ #etykieta .burger{
    background-color:#231F20;
    
}
#check:checked ~ #etykieta .burger::after{
    transform: rotateZ(45deg) translate(0);
}
#check:checked ~ #etykieta .burger::before{
    transform: rotateZ(-45deg) translate(0);
}
#etykieta:hover .burger{
    transform: scale(1.2);
}
#etykieta{
    width:50px;
    height:100px;
    z-index:3;
    display:none;
    position: absolute;
    right:30px;
    top:-20px;
    
    padding-top:70px;
    p
    
}
.side-menu{
    width:100vw;
    height:100vh;
    background:#F85C50;
    position: absolute;
    top:12vh;
    left:0;
    transform: translateX(-100vw);
    transition:.5s;
    z-index:2;
}
#check:checked ~ .side-menu{
 
    transform: translateX(0);
 
}

.navigation{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow:hidden;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    text-align: center;
    list-style: none;
    
}
.navigation ul li a {
    text-decoration: none;
    font-size:3em;
    display:inline-flex;
    font-weight:700;
    transition: .5s;
    padding:5px 20px;
    color:white;
}
.navigation ul:hover li a{
    color:rgb(71, 57, 57);
    
}
.navigation ul li:hover a{
    color:black;;
    background:rgb(204, 204, 179);
}
.navigation ul li a:before{
    content:'';
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%);
    display:Flex;
    justify-content: center;
    align-items: center;
    font-size:5em;
    color:rgba(0,0,0,.1);
    z-index: -1;
    border-radius:50%;
    opacity:0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:500px;
    transition: letter-spacing .5s,left.5s;
} 
.navigation ul li a:hover:before{
    content: attr(data-text);
    opacity:1;
    letter-spacing: 10px;
    width:1800px;
    height:1800px;
}
.navigation ul li:nth-child(6n+1) a:before{
    background:rgb(253, 86, 74);
}
.navigation p{
    display:inline-block;
    transform: translateY(100px);
    color:rgb(219, 184, 184);
    transition: .2s;
}
.navigation p:hover{
    color:White;
}

.baner{
    width:100vw;
    height:12vh;
    background:#231F20;
    position: absolute;
    top:0;
    left:0;
    align-items: center;
    display:flex;
}
.baner a{
    text-decoration: none;
    color:white;
}
.baner img{
    width:60px;
    height:60px;
}
.baner h2{
    font-family: 'Rock Salt', cursive;
    font-size:2.1em;
}
.baner ul{
    list-style-type: none;
    transform: translateX(100px);
    float: right;
    position: absolute;
    right:150px;
}

.baner ul li{
    float:left;
    width:100px;
    text-align: center;
}
.baner ul li:hover::before{
    opacity:1;
}
.baner ul li::before{
    background:Red;
    
    background: url(logo.png);
    background-size: cover;
    transform: translateX(-30px);
       content:'';
    position: absolute;
    width:25px;
    height:25px;
    opacity:0;
    transition: .3s;

    
}
.baner ul li a{
    color:white;
    text-decoration: none;
    transition:.3s;
}
.baner ul li a:hover{
    color:red;
    
    
}
.slider{
    width:80vw;
    margin:0 auto;
    overflow:hidden;
    height:50vh;
    transform: translateY(80px);
    box-shadow:0 0 6px 0 white;
    
}
.slides{
    width:300vw;
    height:100%;
    display:flex;
    animation-name: slider;
    animation-duration:12s;
    animation-iteration-count: infinite;
    transform: translateX(-200vw);
}
@keyframes slider{
    0%{
        transform:translateX(-200vw)
    }
    30%{
        transform:translateX(-200vw)
    }
    40%{
        transform: translateX(-100vw);
    }
    60%{
        transform: translateX(-100vw);
    }
    70%{
        transform: translateX(0vw);
    }
    95%{
        transform: translateX(0vw);
    }
    
}
.slider .slide-one{
    height:100%;
    width:100vw;
    background-image:url('slide-one.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items:center;
}
.slider .slide-one p{
    width:100%;
    background:rgba(0,0,0,.3);
    font-size:1.5em;
    text-align: center;
    padding-right:27%;
    transition: .3s;
    
}
.slider .slide-two p{
    width:100%;
    background:rgba(0,0,0,.3);
    font-size:1.5em;
    text-align: center;
    padding-right:27%;
    transition: .3s;
}
.slider .slide-three p{
    width:100%;
    background:rgba(0,0,0,.3);
    font-size:1.5em;
    text-align: center;
    padding-right:27%;
    transition: .3s;
}
.slider p:hover{
    background:rgba(0,0,0,.6);
}
.slider p a {
    text-decoration: none;
    color: white;
    font-size:1.5em;
    
}
.slider .slide-two{
    height:100%;
    width:100vw;
    width:100vw;
    background-image:url('slide-two.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items:center;
}
.slider .slide-three{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    width:100vw;
    width:100vw;
    background-image:url('slide-three.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.text{
    width:43vw;
    text-align: justify;
    padding-left:20px;
    transform: translateY(100px);
}
.text h2{
    text-align: center;
    padding-bottom:15px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size:1.6em;
    position:relative;
    
    
}
.text h2 i{
    color:REd;
}
/* MENU */

.container-two{
    background-image: url('tlo1.jpg');
    width:100vw;
    height:100vh;
    background-position: left bottom;
    
}
#nagl{
    position: absolute;
    top:130px;
    font-size:3.5em;
    left:30vw;
    font-family: 'Dancing Script', cursive;
}
#pizza{
    position: absolute;
    top:0;
    left:0;
}
#napoje{
    position: absolute;
    top:20px;
    left:0;
}
#lasagne{
    position: absolute;
    top:40px;
    left:0;
}
#dodatki{
    position: absolute;
    top:60px;
    left:0;
}
.labelki{
    width:40vw;
    height:5vh;
    
    top:38vh;
    left:18vw;
    position: absolute;
    display:Flex;
    align-items: center;
    justify-content: space-between;
    
}
#label-pizza{
    width:200px;
    border:1px solid white;
    margin:10px;
    text-align: center;
    transition: .3s;
}
#label-dodatki{
    width:200px;
    border:1px solid white;
    margin:10px;
    text-align: center;
    transition: .3s;
}
#label-napoje{
    width:200px;
    border:1px solid white;
    margin:10px;
    text-align: center;
    transition: .3s;
}
#label-lasagne{
    text-align: center;
    width:200px;
    border:1px solid white;
    margin:10px;
    transition: .3s;
}
#label-pizza:hover{
    background:white;
    color:Black;
    font-weight: bold;
}
#label-dodatki:hover{
    background:white;
    color:Black;
    font-weight: bold;
}
#label-lasagne:hover{
    background:white;
    color:Black;
    font-weight: bold;
}
#label-napoje:hover{
    font-weight: bold;
    background:white;
    color:Black;
}
#pizza:checked ~ .pizza-box{
    left:0;
    
}
#napoje:checked ~ .napoje-box{
    left:0;
    
}
#dodatki:checked ~ .dodatki-box{
    left:0;
    
}
#lasagne:checked ~ .lasagne-box{
    left:0;
    
}
.pizza-box{
    height:55vh;
    width:60vw;
    background-image:url('menu-bg2.jpg');
    position: absolute;
    left:-60vw;
    transition: .3s;
    top:45vh;
    color:white;
    text-align: center;
    box-shadow:0 0 10px 1px white;
    border-radius:0 20% 20% 0;
}
input{
    display:none;
}
.pizza-box h2{
    font-size:2em;
    padding:10px;
}
.lasagne-box h2{
    font-size:2em;
    padding:10px;
}
.dodatki-box h2{
    font-size:2em;
    padding:10px;
}
.napoje-box h2{
    font-size:2em;
    padding:10px;
}
.napoje-box{
    height:55vh;
    width:60vw;
    background-image:url('menu-bg2.jpg');
    position: absolute;
    left:-60vw;
    transition: .3s;
    top:45vh;
    text-align: center;
    box-shadow:0 0 10px 1px white;
    border-radius:0 20% 20% 0;
}
.dodatki-box{
    height:55vh;
    width:60vw;
    background-image:url('menu-bg2.jpg');
    position: absolute;
    left:-60vw;
    transition: .3s;
    top:45vh;
    text-align: center;
    box-shadow:0 0 10px 1px white;
    border-radius:0 20% 20% 0;
}
.lasagne-box{
    height:55vh;
    width:60vw;
    background-image:url('menu-bg2.jpg');
    position: absolute;
    left:-60vw;
    transition: .3s;
    top:45vh;
    text-align: center;
    box-shadow:0 0 10px 1px white;
    border-radius:0 20% 20% 0;
}
.pizza-box table{
    margin: 0 auto;
}
.pizza-box td{
    border:1px solid white;
    padding:6px;
    width:100px;
}
.lasagne-box table{
    margin: 0 auto;
}
.lasagne-box td{
    border:1px solid white;
    padding:6px;
    width:100px;
}
.dodatki-box table{
    margin: 0 auto;
}
.dodatki-box td{
    border:1px solid white;
    padding:6px;
    width:100px;
}
.napoje-box table{
    margin: 0 auto;
}
.napoje-box td{
    border:1px solid white;
    padding:6px;
    width:100px;
}
.pizza-box tr:first-child{
    
    background-color: rgb(172, 85, 85);
}
.pizza-box #glowna td{
    font-weight: bold;
}
.lasagne-box tr:first-child{
    
    background-color: rgb(172, 85, 85);
}
.lasagne-box #glowna td{
    font-weight: bold;
}
.dodatki-box tr:first-child{
    
    background-color: rgb(172, 85, 85);
}
.dodatki-box #glowna td{
    font-weight: bold;
}
.napoje-box tr:first-child{
    
    background-color: rgb(172, 85, 85);
}
.napoje-box #glowna td{
    font-weight: bold;
}
/* KOTANKT */

.main{
    width:80vw;
    height:80vh;
   
    transform: translateY(13vh);
    margin:0 auto;
    display:flex;
}
.map-socials{
    width:50%;
    height:100%;
   
}
.contact-form{
    width:50%;
    height:100%;
    background-color: RED;
}
.map{
    width:100%;
    height:60%;
    
}
.socials{
    width:100%;
    height:40%;
   
    display:flex;
    overflow:hidden;
}
.picture{
    width:30%;
    height:100%;
    
   
}
.picture a{
    color:white;
    text-decoration: none;
}
.social-box{
    height:33%;
    width:100%;
    
    display:flex;
    align-items: center;
    justify-content:center;
}

.social-box:hover{
    background:rgba(255,255,255,.3);
}

.picture a:hover{
    transform: scale(1.1);
    cursor: pointer;
   
}
.picture a{
    font-size:60px;
}
.else{
    width:70%;
    height:100%;
   
    display:flex;
    align-items: center;
    justify-content: center;
}
.else i{
    font-size: 50px;
    padding:10px;
}
@media (max-width:1100px){
   
    .labelki{
        width:70vw;
    }
    .burger{
        display:block;
    }
    #etykieta{
        display:block;
    }
    .baner ul{
        display:none;
    }
    .container-one{
        background-repeat: repeat;
        height:120vh;
    }
    .container-two{
        height:120vh;
    }
    .slider{
        width:100vw;
    }
    .text{
        width:55vw;
    }
    .pizza-box{
        width:100vw;
        left:-100vw;
    }
    .lasagne-box{
        width:100vw;
        left:-100vw;
    }
    .dodatki-box{
        width:100vw;
        left:-100vw;
    }
    .napoje-box{
        width:100vw;
        left:-100vw;
    }


}
@media (max-width:700px){
    .baner{
        font-size:.8em;
    }
  
    .text{
        width:90vw;
    }
    
}
@media (max-width:560px){
    .baner h2{
        transform: translate(-20px,-15px);
    }
    .burger{
        right:-15px;
        top:80px;
    }
    .labelki{
        flex-direction: column;
        top:30vh;
    }
    .container-two{
        height:140vh;
    }
    .pizza-box{
        top:60vh;
        height:65vh;
    }
    .lasagne-box{
        top:60vh;
        height:65vh;
    }
    .dodatki-box{
        top:60vh;
        height: 65vh;
    }
    .napoje-box{
        top:60vh;
        height:65vh
    }
    #nagl{
        left:40vw;
        
    }
    .pizza-box td{
        width:100px;
    }
}
@media (max-width:377px){
    .container-two{
        height:150vh;
    }
    .labelki{
        top:50vh;
    }
    .pizza-box{
        top:78vh;
    }
    .lasagne-box{
        top:78vh;
    }
    .dodatki-box{
        top:78vh;
    }
    .napoje-box{
        top:78vh;
    }
}
@media (max-width:500px){
    .baner{
        font-size:.7em;
    }
    .baner img{
        width:50px;
        height:50px;
    }
}
@media (max-width:450px){
    .container-one{
        height:130vh;
    }
    .baner{
        height:20vh;
        line-height:55px;
    }
    
    .baner h2{
        padding-left:50px;
    }
   .side-menu{
       top:20vh;
   }
    
}
@media (max-width:560px){
    #check:checked ~ #etykieta .burger{
        background-color:#231F20;
        
    }
}